/ = form_for(@user) do |f|
/   .field
/     = f.label :first_name
/     = f.text_field :first_name
/     %br/

/   .field
/     = f.label :last_name
/     = f.file_field :last_name
/     %br/

/   .field
/     = f.label :username
/     = f.text_field :username
/     %br/

/     = f.submit class: "btn btn-primary"
