/ %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCyjPnob22nV_GJZJqiiuUGR-DvSaPq5vI&sensor=false&libraries=places"}

%body.jour
  .container-jour
    %form#places_form
      .row{role: "search"}
    %input#autocomplete
      .form{placholder: "search", type: "text"}

    #map-canvas

    :javascript
      window.photos = #{@photos.to_json}
=javascript_include_tag 'script'
